<div class="columns">
  <div class="chain-info">

    <div class="flex">
      <div>
        <h1 >Scheduled Genesis Time</h1>
        <p *ngIf="countingDown" class="bignum">{{countdown.days}} Day(s), {{countdown.hours}} Hours, {{countdown.minutes}} Minutes,  {{countdown.seconds}} Seconds</p>
        <p *ngIf="!countingDown" class="bignum">Will be announced today</p>

      </div>
      <div>
        <h3 class="validator">Validator count</h3>
        <p *ngIf="inProgress" class="bignum">{{totalValidators}}</p>
      </div>
      <div>
        <h3 class="validator">Deposit Contract Address</h3>
        <p><a href="https://goerli.etherscan.io/address/{{depositContractAddress}}" class="contract">{{depositContractAddress}}</a></p>
      </div>
    </div>

  </div>
</div>
