@import '../../../styles/variables';

.card-img img {
    height: 240px;
    width: 240px;
    margin-top: 35px;
}

.columns {
    display: flex;
}

.chain-info {
    padding-left: 40px;
    font-size: 16px;
}

.flex {
    display: flex;
    margin-bottom: -20px;
    margin-top: -30px;
    padding-top: 0px;
}

.flex div {
    padding-right: 40px;
}

.bignum {
    font-size: 24px;
    margin-bottom: -10px;
}

a {
   color: $pink;
   text-decoration: none;
   font-weight: bold;
}