@import 'variables';
@import './animations.scss';
@import '~@angular/material/theming';

@include mat-core();

// Create theme.
@include angular-material-theme($prylabs-theme);

// Create a config with the default typography levels.
$config: mat-typography-config();

html, body {
  font-family: mat-font-family($config);
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
