<div class="participate-wrapper">
<div class="header">
  <h1>
    Want to try Ethereum 2.0?
  </h1>
  <p>Great! That's probably why you are here.</p> 
  <p>
    Keep in mind: this is a highly experimental test network with no uptime
    guarantees. 
  </p>
  <p>
     We gladly offer support in our 
    <a href="https://discord.gg/2PDUuRU" target="_blank">Discord channel</a>, through 
    <a href="https://github.com/prysmaticlabs/prysm/issues" target="_blank">Github issues</a>, our 
    <a href="https://gitter.im/prysmaticlabs/prysm" target="_blank">Gitter channel</a>, and 
    <a href="https://twitter.com/prylabs" target="_blank">Twitter @prylabs.</a>
  </p>

</div>
<mat-vertical-stepper linear="true" #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>

  <mat-step>
    <ng-template matStepLabel>Get Prysm</ng-template>
    <p>
      Prysm is our Ethereum 2.0 client and it comes in two components. 
    </p>
  
    <p>
      <b>Beacon chain client</b> - Responsible for managing the state of the 
      beacon chain, validator shuffling, and more.
    </p>
    <p>
      <b>Validator client</b> - Responsible for producing new blocks and 
      attestations in the beacon chain and shard chains.
    </p>
    <div>
      The easiest way to get Prysm is to use the docker images.
      <pre>
docker pull gcr.io/prysmaticlabs/prysm/validator:{{DOCKER_TAG}}
docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:{{DOCKER_TAG}}</pre>
    </div>
  </mat-step>

  <mat-step [completed]="walletAddress && hasMinimumBalance()">
    <ng-template matStepLabel>Get GöETH — Test ether</ng-template>
    <p>
      This test network leverages the Goerli network to simulate validator
      deposits on a proof-of-work chain.
    </p>
    <ng-template [ngIf]="!walletAddress">
      <p>First, choose a web3 provider.</p>
      <span class="providers">
        <button mat-raised-button 
                class="web3-logo"
                (click)="chooseWeb3Provider(web3Provider.METAMASK)">
          <img src="/assets/metamask-fox-wordmark-horizontal.svg">
        </button>
       
        <button mat-raised-button 
                class="web3-logo" 
                (click)="chooseWeb3Provider(web3Provider.PORTIS)">
          <img src="/assets/portis.svg">
        </button>
      </span>
    </ng-template>
    
    <div class="step2-wallet" *ngIf="walletAddress">
      <p>
        You are {{walletAddress}} and you have {{balance}} GöETH.
      </p>
      <p>
        To deposit as a validator you'll need at least {{MIN_BALANCE}} GöETH.
      </p>
      <div>
        <button color="accent" mat-raised-button (click)="requestFaucetFunds()">
          Need GöETH?
        </button>
      </div>
    </div>
  </mat-step>


  <mat-step [stepControl]="depositDataFormGroup">
    <form [formGroup]="depositDataFormGroup">
      <ng-template matStepLabel>Generate a validator public / private key</ng-template>
      <div>
        <pre>
docker run -v /tmp/prysm-data:/data \
   gcr.io/prysmaticlabs/prysm/validator:latest \
   accounts create --keystore-path=/data --password=changeme</pre>
       <div>
         From those results, copy and paste the deposit data below.
       </div>
       <mat-form-field class="full-width">
         <textarea matInput 
                   placeholder="Your validator deposit data"
                   cdkTextareaAutosize
                   #autosize="cdkTextareaAutosize"
                   formControlName="depositDataCtrl"
                   depositDataValidation
                   cdkAutosizeMinRows="1"
                   cdkAutosizeMaxRows="4"
                   [(ngModel)]="depositData"
                   (keyup.enter)="onKeyUp($event)"
                   (change)="updateDepositData(depositData)"></textarea>
         <mat-error>
           Deposit data must be in the form of 0x123456789abcdef
         </mat-error>
       </mat-form-field>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Start your beacon chain & validator clients</ng-template>
    <span>You'll need two terminals for this step.</span>
    <pre>
docker run -v /tmp/prysm-data:/data -p 4000:4000 \
  gcr.io/prysmaticlabs/prysm/beacon-chain:{{DOCKER_TAG}} \
  --datadir=/data
    </pre>

    <span>Run the next command in another terminal.</span>
    <pre>
docker run -v /tmp/prysm-data:/data --network="host" \
  gcr.io/prysmaticlabs/prysm/validator:{{DOCKER_TAG}} \
  --beacon-rpc-provider=127.0.0.1:4000
  </pre>
  </mat-step>

  <mat-step [completed]="deposited === true">
    <ng-template matStepLabel>Send a validator deposit</ng-template>
    <div>
      <p>
        Now that you have everything running, make the validator deposit into
        the deposit contract. This transaction sends your deposit data and the
        deposit GöETH to initiate a new validator into the system.
      </p>
      <button mat-raised-button 
              color="accent"
              (click)="makeDeposit()"
              [disabled]="deposited==='pending'">Make deposit</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Wait for your validator assignment</ng-template>
    <div>
      ...
    </div>
  </mat-step>

</mat-vertical-stepper>
</div>