<div>
  <h2>Step 1 - Get Prysm</h2>
  <div>
    The easiest way to get Prysm is to use the docker images.
    <pre>
docker pull gcr.io/prysmaticlabs/prysm/validator:{{DOCKER_TAG}}
docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:{{DOCKER_TAG}}</pre>
  </div>
</div>


<div>
  <h2>Step 2 - Get GöETH</h2>
  <ng-template [ngIf]="!walletAddress">
    <mat-card class="web3-card">
      <mat-card-title>Choose web3 provider</mat-card-title>
      <mat-card-content>
        <button mat-raised-button 
                class="web3-logo"
                (click)="chooseWeb3Provider(web3Provider.METAMASK)">
          <img src="/assets/metamask-fox.svg">
        </button>
      
        <button mat-raised-button 
                class="web3-logo" 
                (click)="chooseWeb3Provider(web3Provider.PORTIS)">
          <img src="/assets/portis.svg">
        </button>
      </mat-card-content>
    </mat-card>
  </ng-template>
  
  <div class="step2-wallet" *ngIf="walletAddress">
    <div>
      You are {{walletAddress}} and you have {{balance}} GöETH.
    </div>
    <div>
      To deposit as a validator you'll need at least 0.0002 GöETH.
    </div>
    <div>
      <button mat-raised-button (click)="requestFaucetFunds()">
        Need GöETH?
      </button>
    </div>
  </div>
</div>

<div> 
  <h2>Step 3 - Generate a validator public / private key</h2>
  <div>
    <pre>
docker run -v /tmp/prysm-data:/data gcr.io/prysmaticlabs/prysm/validator:latest \
   accounts create --keystore-path=/data --password=foo</pre>
   <div>
     From those results, copy and paste the deposit data below.
   </div>
   <mat-form-field class="full-width">
     <textarea matInput 
               placeholder="Your validator deposit data"
               cdkTextareaAutosize
               #autosize="cdkTextareaAutosize"
               cdkAutosizeMinRows="1"
               cdkAutosizeMaxRows="4"
               [(ngModel)]="depositData"
               (change)="updateDepositData(depositData)"></textarea>
   </mat-form-field>
  </div>
</div>

<div>
  <h2>Step 4 - Start your beacon chain & validator clients</h2>
  <span>You'll need two terminals for this step.</span>
  <pre>
docker run -v /tmp/prysm-data:/data -p 4000:4000 \
  gcr.io/prysmaticlabs/prysm/beacon-chain:{{DOCKER_TAG}} \
  --datadir=/data \
  --enable-powchain \
  --web3provider=wss://goerli.prylabs.net/websocket \
  --deposit-contract={{CONTRACT_ADDRESS}} \
  --demo-config</pre>

  <span>Run the next command in another terminal.</span>
  <pre>
docker run -v /tmp/prysm-data:/data --network="host" \
  gcr.io/prysmaticlabs/prysm/validator:{{DOCKER_TAG}} \
  --beacon-rpc-provider=127.0.0.1:4000 \
  --keystore-path=/data \
  --password=foo</pre>
</div>

<div>
  <h2>Step 5 - Send the deposit</h2>
  <div>
    <button mat-raised-button (click)="makeDeposit()">Click me</button>
  </div>
</div>

<div>
  <h2>Step 6 - Wait for your validator assignment</h2>
  <div>
    ...
  </div>
</div>
