<nav>
  <mat-toolbar [class.loaded]="!inProgress">
    <span class="brand"><a routerLink="/"><img src="assets/prysm.svg"/> <span class="brand-text">Prysmatic Eth2 Testnet</span></a></span>

    <span class="flex-spacer"></span>
    <a class="link" target="_blank" href="https://docs.prylabs.network/docs/prysm-usage/activating-a-validator/" mat-button>Read the Docs</a>
    <a class="link" target="_blank" href="https://goerli.etherscan.io/address/{{depositContractAddress}}" *ngIf="numValidators" mat-button>{{numValidators}} validators!</a>
  </mat-toolbar>
  <mat-progress-bar *ngIf="inProgress" mode="indeterminate" color="primary"></mat-progress-bar>
</nav>

<div class="content-wrapper">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  Copyright 2019, <a href="https://prysmaticlabs.com" target="_blank">Prysmatic Labs</a> LLC.
  <br/>
  <br/>
  Latest Deposit Contract - {{depositContractAddress}}
</footer>
