@import '../styles/variables';
@import '~@angular/material/theming';

$header-footer-background: mat-color($theme-primary);

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

nav {
  @include mat-elevation(6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .brand a {
    text-decoration: none;
    color: $black;
    background-color: transparent;
  }

  a {
    margin-left: 4px;
  }

  .mat-icon {
    padding-left: 10px;
  }

  & > mat-toolbar {
    background: $white;
    color: $black;
    .flex-spacer {
      flex: 1 1 auto;
    }
    i {
      color: $black;
    }
    border-bottom: 6px solid $pink;
  }
  @media (max-width: 800px) {
    a {
      margin-left: 4px;
    }
    .brand-text {
      display: none;
    }
    .link {
      display: none;
    }
    mat-icon {
      display: none;
    }
  }
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  background-image: url(/assets/testnetbg.svg); 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: $dark-grey;

  .content {
    padding-top: 32px;
    margin: 4rem;

    @media (min-width: 800px) {
      max-width: 920px;
    }
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  @media (max-width: 800px) {
    background-image: none;
  }
}

footer {
  background-color: $black;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 6px solid $pink;
  color: $white;
  font-size: 16px;
  a {
    text-decoration: none;
    font-weight: bold;
    color: $white;
  }
  a:hover {
    color: $pink;
  }
}