<nav>
  <mat-toolbar>
    <span class="brand">Prysm Testnet</span>

    <span class="flex-spacer"></span>
    <a routerLink="/" mat-button><mat-icon svgIcon="home"></mat-icon>Home</a>
    <a routerLink="/stats" mat-button>Stats</a>
    <a routerLink="/participate" mat-button>Participate</a>
    <span class="small-text" *ngIf="numValidators">{{numValidators}} validators!</span>
  </mat-toolbar>
  <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
</nav>

<div class="content-wrapper">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>