@import '../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  & > mat-toolbar {
    background: $theme-secondary;
    color: $white;
  
    span.brand {
      margin-right: 8px;
    }

    a.mat-button {
      text-decoration: none;
      padding: 0px 6px;
      min-width: 40px;
    }

    .flex-spacer {
      flex: 1 1 auto;
    }
  
    .small-text {
      font-size: 14px;
    }
  }
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;

  .content {
    padding-top: 32px;
    margin: 2rem;

    @media (min-width: 800px) {
      max-width: 920px;
    }
    @media (max-width: 800px) {
      max-width: 80%;
    }
  }
}


footer {
  background: $theme-secondary;
  color: $white;
  flex-shrink: 0;
  
  padding: 16px;
  
  div.prylabs-foot {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    font-size: 12px;

    .brand {
      font-size: 24px;
      margin-bottom: 8px;
    }

    a {
      color: $white;
    }
  }
}
