@import '../styles/variables';
@import '~@angular/material/theming';

$header-footer-background: mat-color($theme-primary);

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

nav {
  @include mat-elevation(6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: 6px solid $pink;

  & > mat-toolbar {
    background: $white;
    color: $black;
    .flex-spacer {
      flex: 1 1 auto;
    }
    i {
      color: $black;
    }
  
    .small-text {
      font-size: 14px;
    }
  }
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  background-image: url(/assets/testnetbg.svg);
  background-size: 100% 100%;
  background-color: $dark-grey;

  .content {
    padding-top: 32px;
    margin: 4rem;

    @media (min-width: 800px) {
      max-width: 920px;
    }
    @media (max-width: 800px) {
      max-width: 80%;
    }
  }
}
