<div class="centered">
  <h1>The Sapphire Testnet</h1>
  <h3>Ethereum Serenity Phase 0 Test Network</h3>
</div>

<div class="main-actions">
  <a routerLink="/participate" mat-button>Become a Validator</a>
</div>

<mat-card>
  <mat-card-content>
    <app-chain-info></app-chain-info>
    <hr/>
    <p>
    The <b>Sapphire Testnet</b> is a public network created by <a href="https://prysmaticlabs.com" target="_blank">Prysmatic Labs</a>. It implements the Ethereum 2.0 Phase 0 protocol for a proof-of-stake blockchain
    enabling anyone holding Goerli test ETH to join and participate.
    </p>

    <p>
      <i>This is a highly experimental test network</i> with no security guarantees. The network <b>will have scheduled restarts</b> for improvements and maintenance as we help make eth2 a reality.
    </p>
    <p>
      <a href="https://docs.prylabs.network/docs/getting-started.html" target="_blank">💎 Read the Docs 💎</a>
    </p>
    <p>
      Have Questions? Get In Touch 🙌!
    </p>
    <p>
      <a class="social discord" mat-button href="https://discord.gg/YMVYzv6" target="_blank"><img src="assets/discord.svg"/></a>
      <a class="social github" mat-button href="https://github.com/prysmaticlabs/prysm" target="_blank"><img src="assets/github.svg"/>Github</a>
    </p>
    <hr/>
    <h2>Testnet Information</h2>
    <div class="tables">
      <div>
        <h3>What This Is</h3>

        <mat-list>
          <mat-list-item *ngFor="let prop of testnetProperties">
            <mat-icon mat-list-icon color="primary">check</mat-icon>
            {{prop}}
          </mat-list-item>
        </mat-list>
      </div>

      <div>
        <h3>What This Isn't</h3>

        <mat-list>
          <mat-list-item *ngFor="let prop of notTestnetProperties">
            <mat-icon mat-list-icon color="warn">clear</mat-icon>
            {{prop}}
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <hr/>
    <h2>Frequently Asked Questions</h2>
    <h3>What is Prysm?</h3>
    <p>
    Built in Go and fully-open source, the network runs on an eth2 node implementation called <a href="https://github.com/prysmaticlabs/prysm" target="_blank">Prysm</a>. To participate in the network, anyone can send {{DEPOSIT_AMOUNT}} ETH from the Goerli ETH1.0 testnet into
      a validator deposit contract, which will queue in the user as a <b>validator</b> in the system. Validators participate in proposing and voting on blocks in the protocol, and the network applies rewards/penalties based on their behavior.
    </p>
    <h3>Why should I care?</h3>
    <p>
      <a href="https://github.com/ethereum/eth2.0-specs" target="_blank">Ethereum 2.0</a> is a massive, multi-year effort to create a true world computer. In other words, its goal is to create a truly decentralized, permissionless platform for programmable money through smart contracts. Phase 0, which the Prysm testnet
      implements, is a great step forward in making the years of research behind the future of Ethereum a tangible reality. This gives us a real, public network we can push to the limit
      and learn about ways to improve our approach before we consider a multi-client, mainnet release of the network.
    </p>
    <h3>How can I help?</h3>
    <p>
      We have a ton of work to do and this is only the beginning. Joining our <a href="https://discord.gg/YMVYzv6" target="_blank">discord</a> is a great way to get involved, just introduce yourself and let us know what you want to contribute to. Also, check out our open issues
      on Github <a href="https://github.com/prysmaticlabs/prysm/issues" target="_blank">here</a>.
    </p>
    <h3>Can I donate to Prysmatic? 💰</h3>
    <p>
      We'd be extremely honored if you do! We are building a public good and every donation we receive, no matter how small, goes a long way towards building eth2.
      We're extremely motivated to work on this project every day and provide as much value as possible towards the future of Ethereum. The best way to donate
      would be to send ETH to our multisig contract, <a href="https://etherscan.io/address/prysmatic.eth" target="_blank">prysmatic.eth</a>.
    </p>
  </mat-card-content>
</mat-card>
